.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#feed-container::-webkit-scrollbar {
  width: 6px;
}

#feed-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

#feed-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3b82f6, #8b5cf6);
  border-radius: 3px;
}

#feed-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2563eb, #7c3aed);
}
